<a href="https://colab.research.google.com/github/Ashish8349/stackoverflow-survey-2019/blob/main/Stackoverflow_survey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import plotly as plt
import plotly.express as px
import dash
import dash_html_components as html
import dash_core_components as dcc
from jupyter_dash import JupyterDash

In [3]:
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"
df = pd.read_csv(dataset_url)
df.head()

   Respondent  ...                  SurveyEase
0           4  ...                        Easy
1           9  ...  Neither easy nor difficult
2          13  ...                        Easy
3          16  ...  Neither easy nor difficult
4          17  ...                        Easy

[5 rows x 85 columns]

**Explore the data and get familiar with dataset**

In [4]:
#df.shape
#print(df.dtypes)
#df.info()
df.describe()

         Respondent     CompTotal  ...   CodeRevHrs           Age
count  11552.000000  1.073700e+04  ...  9083.000000  11255.000000
mean   12362.212517  7.499932e+05  ...     4.762829     30.772394
std     7271.939210  9.639522e+06  ...     4.548401      7.392780
min        4.000000  0.000000e+00  ...     0.000000     16.000000
25%     6011.500000  2.500000e+04  ...     2.000000     25.000000
50%    12323.500000  6.500000e+04  ...     4.000000     29.000000
75%    18686.500000  1.200000e+05  ...     5.000000     35.000000
max    25142.000000  7.000000e+08  ...    99.000000     99.000000

[8 rows x 6 columns]

 **Performing data wrangling :-
identify duplicate values and remove those,identify missing values and either impute those or remove.
Normalize data in the dataset.**

In [5]:
df[df.duplicated()].shape       #identify the duplicates
#df[df.duplicated('Respondent')].shape

(154, 85)

In [6]:
df = df.drop_duplicates()    # Removing the duplicates
df.shape

(11398, 85)

In [7]:
df[df.duplicated()].shape   # Check if any duplicate exist

(0, 85)

In [8]:
df.isnull().sum()   # Check for null values in dataframe
#df.isnull().sum().sum()

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

In [9]:
df['WorkLoc'].isnull().value_counts() # Check how many null values are there in column 'WorkLoc'

False    11366
True        32
Name: WorkLoc, dtype: int64

In [10]:
df['WorkLoc'].value_counts()   # Check for more frequent value in column 'WorkLoc'

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

In [11]:
df['WorkLoc'].fillna('Office', inplace=True)  # Fill null values with 'Office'
df['WorkLoc'].isnull().value_counts()

False    11398
Name: WorkLoc, dtype: int64

In [12]:
df['CompFreq'].value_counts() # How compensation are paid to respondents

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

In [13]:
df[['Respondent','CompFreq','CompTotal']].head(20)

    Respondent CompFreq  CompTotal
0            4   Yearly    61000.0
1            9   Yearly   138000.0
2           13   Yearly    90000.0
3           16  Monthly    29000.0
4           17   Yearly    90000.0
5           19  Monthly     9500.0
6           20  Monthly     3000.0
7           22   Yearly   103000.0
8           23   Yearly    69000.0
9           24  Monthly     8000.0
10          25  Monthly     7000.0
11          26   Yearly   114000.0
12          29   Weekly     2000.0
13          32   Weekly    22000.0
14          38  Monthly    96000.0
15          39   Yearly   156000.0
16          43   Yearly    18000.0
17          44  Monthly     6400.0
18          49  Monthly     5000.0
19          50   Yearly   400000.0

**Normalize the data in 'CompTotal' column total compensation on yearly basis**

In [14]:
df.loc[df['CompFreq'] == 'Yearly','NormalizedAnnualCompensation'] = df['CompTotal']
df.loc[df['CompFreq'] == 'Monthly','NormalizedAnnualCompensation'] = df['CompTotal']*12
df.loc[df['CompFreq'] == 'Weekly','NormalizedAnnualCompensation'] = df['CompTotal']*52
df[['Respondent','CompFreq','CompTotal','NormalizedAnnualCompensation']].head(20)

    Respondent CompFreq  CompTotal  NormalizedAnnualCompensation
0            4   Yearly    61000.0                       61000.0
1            9   Yearly   138000.0                      138000.0
2           13   Yearly    90000.0                       90000.0
3           16  Monthly    29000.0                      348000.0
4           17   Yearly    90000.0                       90000.0
5           19  Monthly     9500.0                      114000.0
6           20  Monthly     3000.0                       36000.0
7           22   Yearly   103000.0                      103000.0
8           23   Yearly    69000.0                       69000.0
9           24  Monthly     8000.0                       96000.0
10          25  Monthly     7000.0                       84000.0
11          26   Yearly   114000.0                      114000.0
12          29   Weekly     2000.0                      104000.0
13          32   Weekly    22000.0                     1144000.0
14          38  Monthly    96000.0                     1152000.0
15          39   Yearly   156000.0                      156000.0
16          43   Yearly    18000.0                       18000.0
17          44  Monthly     6400.0                       76800.0
18          49  Monthly     5000.0                       60000.0
19          50   Yearly   400000.0                      400000.0

In [15]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m5_survey_data_demographics.csv"
url2 = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m5_survey_data_technologies_normalised.csv"

In [16]:
df1 = pd.read_csv(url)
df2 = pd.read_csv(url2)

In [17]:
#df2.drop(0, axis=0, inplace=True)
#df2.head(10)
df.head()

   Respondent  ... NormalizedAnnualCompensation
0           4  ...                      61000.0
1           9  ...                     138000.0
2          13  ...                      90000.0
3          16  ...                     348000.0
4          17  ...                      90000.0

[5 rows x 86 columns]

In [18]:
#Top 10 Language 

lang = df2[['Respondent','LanguageWorkedWith']].groupby(by='LanguageWorkedWith', axis=0).count().reset_index()
lang.sort_values(by='Respondent',ascending=False,inplace=True)
top_10_lang = lang.iloc[:10]

#Top 10 Desired language

desired_lang = df2[['Respondent','LanguageDesireNextYear']].groupby(by='LanguageDesireNextYear', axis=0).count().reset_index()
desired_lang.sort_values(by='Respondent',ascending=False,inplace=True)
top_10_desired_lang = desired_lang.iloc[:10]

#Top 10 database

db = df2[['Respondent','DatabaseWorkedWith']].groupby(by='DatabaseWorkedWith', axis=0).count().reset_index()
db.sort_values(by='Respondent',ascending=False,inplace=True)
top_10_db = db.iloc[:10]

#Top 10 desired database

desired_db = df2[['Respondent','DatabaseDesireNextYear']].groupby(by='DatabaseDesireNextYear', axis=0).count().reset_index()
desired_db.sort_values(by='Respondent',ascending=False,inplace=True)
top_10_desired_db = desired_db.iloc[:10]

#Top 10 webframework

Web_FrameWork = df2[['Respondent','WebFrameWorkedWith']].groupby(by='WebFrameWorkedWith',axis=0).count().reset_index()
Web_FrameWork.sort_values(by='Respondent',ascending=False,inplace=True)
top_10_Web_FrameWork = Web_FrameWork.iloc[:10]

#Top 10 desired webframework

desired_Web_FrameWork = df2[['Respondent','WebFrameDesireNextYear']].groupby(by='WebFrameDesireNextYear',axis=0).count().reset_index()
desired_Web_FrameWork.sort_values(by='Respondent',ascending=False,inplace=True)
top_10_desired_Web_FrameWork = desired_Web_FrameWork.iloc[:10]

#Number of Respondents by Age
respondents_by_age = df1[['Respondent','Age']].groupby(by='Age',axis=0).count().reset_index()

In [19]:
top_10_lang_fig = px.bar(top_10_lang.sort_values(by='Respondent'), x='Respondent',y='LanguageWorkedWith', orientation='h', title="Top 10 Languages",text='Respondent')
top_10_desired_lang_fig = px.bar(top_10_desired_lang.sort_values(by='Respondent'), x='Respondent',y='LanguageDesireNextYear', orientation='h', 
                                 title="Top 10 Desired Languages",text='Respondent')
top_10_db_fig = px.bar(top_10_db, x='DatabaseWorkedWith',y='Respondent', title="Top 10 Databases",text='Respondent')
top_10_desired_db_fig = px.bar(top_10_desired_db, x='DatabaseDesireNextYear',y='Respondent', title="Top 10 Desired Databases",text='Respondent')

respondents_by_age_fig = px.line(respondents_by_age,x='Age', y='Respondent')

In [20]:
JupyterDash.infer_jupyter_proxy_config()

In [21]:
app = JupyterDash(__name__)

app.layout = html.Div(children=[html.H1('Stackoverflow survey 2019', 
                                         style={'textAlign': 'center',
                                                'color': '#503D36',
                                                 'font-size': 40}),
                                html.Div([
                                        html.Div(dcc.Graph(figure=top_10_lang_fig)),
                                        html.Div(dcc.Graph(figure=top_10_desired_lang_fig))
                                ], style={'display': 'flex'}),

                                html.Div([
                                        html.Div(dcc.Graph(figure=top_10_db_fig)),
                                        html.Div(dcc.Graph(figure=top_10_desired_db_fig))
                                ], style={'display': 'flex'}),

                                html.Div(dcc.Graph(figure=respondents_by_age_fig))])
                                
                    

if __name__ == '__main__':
    app.run_server(mode='external', host="localhost")

Dash app running on:

In [23]:
print("To test new changes")

To test new changes